PORT=4000

DB_HOST=db
DB_PORT=3306
DB_USER=mysql
DB_PASSWORD=123
DB_NAME=fullstack
MYSQL_ROOT_PASSWORD=123

JWT_SECRET="f4e14feb-5074-45d9-bf9c-51c760575ec5"#usar chave segura em producao
JWT_EXPIRES_IN=24h

# Redis
REDIS_HOST=redis
REDIS_PORT=6379